a:not([class]) {
  color: var(--color-primary);
  border-radius: .15em;
}

:is(a, button, input, textarea, summary) {
  --outline-size: max(2px, 0.08em);
  --outline-style: solid;
  --outline-color: currentColor;
}

:is(a, button, input, textarea, summary):focus {
  outline: 
    var(--outline-size) 
    var(--outline-style) 
    var(--outline-color);
  outline-offset: 
    var(--outline-offset, var(--outline-size));
}