@use "sass:math";

$font-family-headlines: 'Gentium Basic', serif !default;
$font-weight-bold: 600 !default;

:root {
  // TODO: Figure out how to make this scalable for our design system
  // @link https://utopia.fyi/type/calculator?c=320,21,1.2,1140,24,1.333,5,2,&s=0.75%7C0.5%7C0.25,1.5%7C2%7C3%7C4%7C6,s-l
  --font-size-h3: clamp(2.27rem, calc(1.77rem + 2.51vw), 3.55rem);
  --font-size-h2: clamp(2.72rem, calc(1.94rem + 3.93vw), 4.74rem);
  --font-size-h1: clamp(3.27rem, calc(2.08rem + 5.95vw), 6.31rem);
}

h1,
.h1 {
  font-size: var(--font-size-h1);
}

h2,
.h2 {
  font-size: var(--font-size-h2);
}

h3,
.h3 {
  font-size: var(--font-size-h3);
}

h1,
h2,
h3 {
  font-family: $font-family-headlines;
  font-weight: 700;
  // Recommendation courtesy of this brilliant work:
  // @link https://kittygiraudel.com/2020/05/18/using-calc-to-figure-out-optimal-line-height/
  line-height: calc(2px + 2ex + 2px);

  // Set with `em` to be relative to current `font-size`
  margin-bottom: 0.65em;
}

p,
li,
h1,
h2,
h3,
h4 {
  // Help prevent overflow of long words/names/URLs
  word-break: break-word;

  // Optional, not supported for all languages:
  hyphens: auto;
}

.lead {
  font-size: 1.25rem;
  line-height: 1.3;
}

.text-bold {
  font-weight: $font-weight-bold;
}