---
title: Cards
---

<div class="card card--feature-image">
  <img src="/assets/card-image-1.jpg" alt="" >

  <div class="card__content">
    <h3 class="card__title">West California</h3>
    <a href="#">Explore now<span class="inclusively-hidden"> - view West Canada</span></a>
  </div>
</div>

<div class="card">
  <img src="/assets/card-image-1.jpg" alt="" >

  <div class="card__content">
    <h3 class="card__title">West California</h3>
    <a href="#">Explore now<span class="inclusively-hidden"> - view West Canada</span></a>
  </div>
</div>